h1{ 
    color: blueviolet;
}

h1{ 
    text-align: center;
}

h2{
    color: rgb(188, 148, 226);
}

h2{
    text-align: center;
}

h3{
    color: rgb(188, 148, 226);
}

h3{
    text-align: center;
}

li{
    text-align: center;
}

